@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');


html, body {
    font-family: 'Poppins', 'Helvetica Neue', sans-serif !important;
}

.switch-wrapper {
    position: relative;
}

*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}